// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

@mixin iphon-12-max() {
  @media screen and (max-width: 854px) {
    @content;
  }
}

@mixin iphon-12-min() {
  @media screen and (min-width: 854px) {
    @content;
  }
}

// ナビメニュー
@mixin navMenu() {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
} 

@mixin navMenu-ul() {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin navMenu-li {
  font-size: 24px;
  list-style-type: none;
  width: 100%;
  padding-bottom: 0px;
}

@mixin navMenu-a {
  display: block;
  color: #fff;
  padding: 15px 0;
  font-weight: bold;
  font-size: 25px;
  border-radius: 30px;
  margin: 10px 60px;
  border: 1px solid #fff;
}

@mixin hamburgar {
  position: fixed;
  right:18px;
  top: 3px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 13;
  display: block;
}

@mixin hamburgar-span {
  display: block;
  position: absolute;
  width: 35px;
  border-bottom: solid 4px #C1C1C1;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}

@mixin hamburgar-active-span-nth {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: solid 3px #C1C1C1;
}


// 吹き出しの値
@mixin send {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

@mixin faceicon {
  float: left;
    margin-right: -90px;
    width: 80px;
}

@mixin send_message {
  position: relative;
  display: inline-block;
  line-height: 90px;
  padding: 0px 20px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #ff8e9d;
  border-radius: 35px;
  box-sizing: border-box;
}

@mixin  send_message_before {
  content: "";
    position: absolute;
    top: 50%;
    right: -45px;
    border: 32px solid transparent;
    border-left: 34px solid #ff8e9d;
}
