@import "variables";

// モーダルウィンドウ
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content{
  margin: 0 auto;
  padding: 40px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

body {
  background: linear-gradient(to right, #92FE9D, #00C9FF);
}
.bg-white { 
  background: -webkit-linear-gradient(to right, #8e0e00, #1f1c18);
}

nav {
  z-index: 20;
}
.navbar-nav {
  li {
    margin-right: 20px;
      
  }
}
ul .navbar-nav ml-auto {
    @include iphon-12-max() {
      display: none;
    }
}

a{
  text-decoration: none;
  color: #333333;
  }
  
  /*ナビのスタイル*/
  nav.navMenu{
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
    ul {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    li {
      font-size: 24px;
      list-style-type: none;
      width: 100%;
      padding-bottom: 0px;
      &:last-child {
        padding-bottom: 0;
      }
      a {
        display: block;
        color: #fff;
        padding: 15px 0;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  
  
  /*ボタンのスタイル*/
  .hamburgar {
    position: fixed;
    right:18px;
    top: 3px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 13;
    display: block;
    @include iphon-12-min() {
      display: none;
    }
    span {
      display: block;
      position: absolute;
      width: 35px;
      border-bottom: solid 4px #C1C1C1;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out;
      left: 6px;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 20px;
      }
      &:nth-child(3) {
        top: 30px;
      }
    }
    .active {
      span {
        &:nth-child(1) {
          top: 18px;
          left: 6px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
          border-bottom: solid 3px #C1C1C1;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 18px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
          border-bottom: solid 3px #C1C1C1;
        }
      }
    }
  }
  
  