@charset "UTF-8";
.send {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}
.send .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}
.send .faceicon img {
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 5;
}
.send .chatting {
  width: 100%;
}

.send_message {
  position: relative;
  display: inline-block;
  line-height: 90px;
  padding: 0px 20px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #ff8e9d;
  border-radius: 35px;
  box-sizing: border-box;
}
.send_message::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -45px;
  border: 32px solid transparent;
  border-left: 34px solid #ff8e9d;
}
.send_message p {
  margin: 0;
  padding: 0;
}

.recieve {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}
.recieve .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}
.recieve .faceicon img {
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 5;
}
.recieve .chatting {
  width: 100%;
}

.recieve_message {
  position: relative;
  display: inline-block;
  line-height: 90px;
  padding: 0px 20px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #ff8e9d;
  border-radius: 35px;
  box-sizing: border-box;
}
.recieve_message::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -45px;
  border: 32px solid transparent;
  border-left: 34px solid #ff8e9d;
}
.recieve_message p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  padding: 40px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

body {
  background: linear-gradient(to right, #92FE9D, #00C9FF);
}

.bg-white {
  background: -webkit-linear-gradient(to right, #8e0e00, #1f1c18);
}

nav {
  z-index: 20;
}

.navbar-nav li {
  margin-right: 5px;
}

@media screen and (max-width: 854px) {
  ul .navbar-nav ml-auto {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #333333;
}

/*ナビのスタイル*/
nav.navMenu {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  background: linear-gradient(to right, #78ffd6, #a8ff78);
}
nav.navMenu ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
nav.navMenu li {
  font-size: 24px;
  list-style-type: none;
  width: 100%;
  padding-bottom: 0px;
}
nav.navMenu li:last-child {
  padding-bottom: 0;
}
nav.navMenu li a {
  display: block;
  color: #fff;
  padding: 15px 0;
  font-weight: bold;
  font-size: 25px;
  border-radius: 30px;
  margin: 10px 60px;
  border: 1px solid #fff;
}

/*ボタンのスタイル*/
.hamburgar {
  position: fixed;
  right: 18px;
  top: 3px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 13;
  display: block;
}
@media screen and (min-width: 854px) {
  .hamburgar {
    display: none;
  }
}
.hamburgar span {
  display: block;
  position: absolute;
  width: 35px;
  border-bottom: solid 4px #C1C1C1;
  transition: 0.35s ease-in-out;
  left: 6px;
}
.hamburgar span:nth-child(1) {
  top: 10px;
}
.hamburgar span:nth-child(2) {
  top: 20px;
}
.hamburgar span:nth-child(3) {
  top: 30px;
}
.hamburgar .active span:nth-child(1) {
  top: 18px;
  left: 6px;
  transform: rotate(-45deg);
  border-bottom: solid 3px #C1C1C1;
}
.hamburgar .active span:nth-child(2), .hamburgar .active span:nth-child(3) {
  top: 18px;
  transform: rotate(45deg);
  border-bottom: solid 3px #C1C1C1;
}
